@charset "UTF-8";
body {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
        /*min-height: 100vh; 
        height: 100%;*/
}

img{
    width:100%;
}

/*  scroll  */
::-webkit-scrollbar {
    width: 10px; 
}
    ::-webkit-scrollbar-track {
        background: #fff; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #676767;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: #9a9999; 
    }
/*  scroll  */

/* Header */

header {
    background-color: #444;
    padding: 10px 0;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(18, 66, 101, 0.08);
    z-index: 1000;
}

    .logo img{
        height:50px;
        border-radius:8px;
    }

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 2560px;
        margin: 0 auto;
        padding: 0 20px;
    }

nav ul {
    display: flex;
    list-style: none;
}

    #nav-menu li {
        margin-left:20px;
    }

    #nav-menu a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s;
    }

    #nav-menu a:hover {
        color: #ff6600;
    }

/* Main */

.mp {
    text-align: center;
    flex:auto;
    max-width: 2560px;
    margin-right:auto;
    margin-left:auto;
}

    .mp p {
        font-size: 20px;
        line-height: 1.6;
    }

.cta-button {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .cta-button:hover {
        background-color: #e65c00;
    }

.mp-introduction{
    position: relative;
    text-align: center;
}

    .mp-introduction-bg{
    }

    .mp-introduction-bg-image{
        width: 100%;
        height: auto;
        filter: brightness(0.8);
    }

    .mp-introduction-bg-text{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mp-introduction-bg-text h1 {
        font-size: calc(1.375rem + 1.5vw);
    }

.mp-services{
    margin-bottom:60px;
}

    .mp-services-bg-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

        .mp-services-bg-box img{
            width: 100%;
            height: auto;
            border-radius: 10px;
            transition: transform 0.3s;
        }

        .mp-services-bg-box-landing,
        .mp-services-bg-box-businesscard,
        .mp-services-bg-box-multifunctional{
            position: relative;
            text-align: center;
            width: 30%;
        }

.mp-services-bg-box-landing-text,
.mp-services-bg-box-businesscard-text,
.mp-services-bg-box-multifunctional-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    font-size: calc(0.1rem + 0.8vw);
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

        .mp-services-bg-box-landing-text{
        }
        .mp-services-bg-box-businesscard-text{
        }
        .mp-services-bg-box-multifunctional-text{
        }

        .mp-services-bg-box h2{
            color:darkorange;
        }


.mp-case{
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
}

    .mp-case-box{
        display:flex;    
        flex-direction: column;
        align-items:center
    }

        .mp-case-box img {
            border-radius: 50%;
        }
        .mp-case-box-text{
            max-width: 700px;
            margin-top: 20px;
        }
        .mp-case-box-text h1{
        }

.mp-features{
}

.mp-portfolio{
}
    .mp-portfolio-case{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        gap:20px;
        padding:20px;
    }
    .mp-portfolio-case img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .mp-porfolio-case-first,
    .mp-porfolio-case-second,
    .mp-porfolio-case-third,
    .mp-porfolio-case-fourth,
    .mp-porfolio-case-fifth,
    .mp-porfolio-case-sixth{
    }

.mp-development{
}

.mp-services{
}

.mp-faq{
}

.mp-features, .mp-development, .mp-services, .mp-faq{
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
}


.services {
    padding: 60px 0;
    text-align: center;
    flex: 1;
}

    .services h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

.service {
    display: inline-block;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    flex:auto;
}

    .service img {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .service h3 {
        font-size: 24px;
    }

    .service p {
        font-size: 16px;
    }

/* Portfolio-main */

.portfolio {
    padding: 60px 0;
    text-align: center;
    flex:auto;
}

    .portfolio h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .portfolio-item {
        display: inline-block;
        max-width: 300px;
        margin: 20px;
        flex:auto;
    }

        .portfolio-item img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 20px;
        }

        .portfolio-item h3 {
            font-size: 24px;
        }

/* Contact-main */

.contact {
    padding: 60px 0;
    text-align: center;
    flex:auto;
}

    .contact h2 {
        font-size: 50px;
        font-weight: 500;
        font-family: Cursive;
        margin-bottom: 40px;
        line-height: 1.2;
        margin:0 auto;
    }

    .contact p {
        line-height: 1.2;
        margin: 40px auto;
    }

    .contact-boxes{
        margin: 0 auto;
        max-width: 620px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

        .contact-boxes-email {
        }

        .contact-boxes-whatsapp {
        }

        .contact-boxes-email, .contact-boxes-whatsapp {
            display: inline-block;
            box-shadow: 0px 0px 45px rgba(51, 77, 114, 0.10);
            background-color: #F5F5F5;
            padding: 50px 30px 50px 30px;
            font-size: 18px;
            margin: 0 15px 40px;
        }

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: none;
}

button[type="submit"] {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #e65c00;
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Media */

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 57px;
        left: 0;
        background-color: #444;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        padding:0;
        border-top: 1px solid #444;
        border-bottom:1px solid #444;
        box-shadow: 0 10px 10px rgba(18, 66, 101, 0.08);
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        color: white;
    }

    .service, .portfolio-item {
        max-width: 100%;
    }
    form {
        max-width: 80%;
    }
    nav ul.active {
        display: flex;
        transition: max-height 0.5s ease-in;
        max-height: 300px;
    }
}